.container {
  padding: 10px 16px;
  border-bottom: solid 1px #e6e6e6;
}

.header {
  display: flex;
  flex-direction: row;
  margin: 0 0 12px 0;
}

.titleContainer {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 2px;
  font-family: GalanoGrotesqueRegular;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
}