@font-face {
  font-family: 'GalanoGrotesqueRegular';
  src: local('GalanoGrotesqueRegular'), url(./fonts/GalanoGrotesqueRegular.ttf) format('truetype');
}

@font-face {
  font-family: 'GalanoGrotesqueMedium';
  src: local('GalanoGrotesqueMedium'), url(./fonts/GalanoGrotesqueMedium.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: GalanoGrotesqueRegular, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1a181e;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
